<!-- Collapse Section -->
<div class="container space-2">
    <h2 class="text-center">FAQ's (Frequently Asked Questions)</h2>
  
    <!-- Basics Accordion -->
    <div id="basicsAccordion">
      <!-- Card -->
      <div class="card shadow-none mb-3">
        <div class="card-header card-collapse" id="basicsHeadingOne">
          <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0" href="javascript:;" role="button" data-toggle="collapse" data-target="#basicsCollapseOne" aria-expanded="false" aria-controls="basicsCollapseOne">
            Can I avail of a Used Car Loan on my existing car?
  
            <span class="card-btn-toggle">
              <span class="card-btn-toggle-default">+</span>
              <span class="card-btn-toggle-active">−</span>
            </span>
          </a>
        </div>
        <div id="basicsCollapseOne" class="collapse" aria-labelledby="basicsHeadingOne" data-parent="#basicsAccordion">
          <div class="card-body px-4">
            <p>Yes, you can avail a loan on your existing car. Up to 120% of the existing value of your car shall be available as cash at your disposal subject to a maximum of ₹ 20 lacs.</p>
            <br>
            <i>For more information please Contact us.....</i>
          </div>
        </div>
      </div>
      <!-- End Card -->
  
      <!-- Card -->
      <div class="card shadow-none mb-3">
        <div class="card-header card-collapse" id="basicsHeadingTwo">
          <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0" href="javascript:;" role="button" data-toggle="collapse" data-target="#basicsCollapseTwo" aria-expanded="false" aria-controls="basicsCollapseTwo">
            What are the stages involved in availing a used car loan from Vehicle Loan Management?
  
            <span class="card-btn-toggle">
              <span class="card-btn-toggle-default">+</span>
              <span class="card-btn-toggle-active">−</span>
            </span>
          </a>
        </div>
        <div id="basicsCollapseTwo" class="collapse" aria-labelledby="basicsHeadingTwo" data-parent="#basicsAccordion">
          <div class="card-body px-4">
            <p>The stages of availing a Used Car Loan include:</p>
              <ul>
                  <li> Online Application</li>
                  <li> Documentation Submission</li>
                  <li> Data Verification</li>
                  <li>Sanctioning of the loan</li>
                  <li> Disbursement</li>
              </ul>
              <br>
            <i>For more information please Contact us.....</i>
          </div>
        </div>
      </div>
      <!-- End Card -->
  
      <!-- Card -->
      <div class="card shadow-none mb-3">
        <div class="card-header card-collapse" id="basicsHeadingThree">
          <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0" href="javascript:;" role="button" data-toggle="collapse" data-target="#basicsCollapseThree" aria-expanded="false" aria-controls="basicsCollapseThree">
            Can all types of cars be financed by these loans?
  
            <span class="card-btn-toggle">
              <span class="card-btn-toggle-default">+</span>
              <span class="card-btn-toggle-active">−</span>
            </span>
          </a>
        </div>
        <div id="basicsCollapseThree" class="collapse" aria-labelledby="basicsHeadingThree" data-parent="#basicsAccordion">
          <div class="card-body px-4">
            <p>We finance almost all passenger cars and multi-utility vehicles manufactured by India's leading automobile companies. Imported vehicles are also funded on case-to-case basis.</p>
            <br>
            <i>For more information please Contact us.....</i>
          </div>
        </div>
      </div>
      <!-- End Card -->
  
      <!-- Card -->
      <div class="card shadow-none mb-3">
        <div class="card-header card-collapse" id="basicsHeadingFour">
          <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0" href="javascript:;" role="button" data-toggle="collapse" data-target="#basicsCollapseFour" aria-expanded="false" aria-controls="basicsCollapseFour">
            Can the EMI on my Used Car Loan be reduced or changed?
  
            <span class="card-btn-toggle">
              <span class="card-btn-toggle-default">+</span>
              <span class="card-btn-toggle-active">−</span>
            </span>
          </a>
        </div>
        <div id="basicsCollapseFour" class="collapse" aria-labelledby="basicsHeadingFour" data-parent="#basicsAccordion">
          <div class="card-body px-4">
            <p>No, the EMI is fixed for the life of the loan. However, we offer flexible solutions to fit your requirement.</p>
            <br>
            <i>For more information please Contact us.....</i>
          </div>
        </div>
      </div>
      <!-- End Card -->

      <!-- Card -->
      <div class="card shadow-none mb-3">
        <div class="card-header card-collapse" id="basicsHeadingFour">
          <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0" href="javascript:;" role="button" data-toggle="collapse" data-target="#basicsCollapseFour" aria-expanded="false" aria-controls="basicsCollapseFour">
            What are Flexi EMIs?
  
            <span class="card-btn-toggle">
              <span class="card-btn-toggle-default">+</span>
              <span class="card-btn-toggle-active">−</span>
            </span>
          </a>
        </div>
        <div id="basicsCollapseFour" class="collapse" aria-labelledby="basicsHeadingFour" data-parent="#basicsAccordion">
          <div class="card-body px-4">
            <p><b>Fixed EMI</b> <br>

                You get to choose the Used Car Loan EMI Plan that suits your cash flow. Flexible EMI plans include. Under Fixed EMI, the interest and principal component charged to you is fixed during the entire loan tenure.
                <br>
                EMI amount remains the same for the entire used car loan period
                Ideal if
                
                You have a consistent income</p>
                <br>
            <i>For more information please Contact us.....</i>
          </div>
        </div>
      </div>
      <!-- End Card -->
    </div>
    <!-- End Basics Accordion -->
  </div>
  <!-- End Collapse Section -->
