<!-- Hero Section -->
<div class="overflow-hidden" id="Herosection">
    <div class="container space-top-1 space-top-md-2 space-bottom-3">
      <div class="row justify-content-lg-between align-items-md-center">
        <div class="col-md-6 col-lg-5 mb-7 mb-md-0">
          <div class="mb-5">
            <span class="d-block medium font-weight-bold text-cap mb-2">Welcome aboard,</span>
            <h1 class="display-3 mb-6">Loans that Help to build Your dreams  </h1>
            <p class="lead">Our team aims to deliver the most outstanding work in every pixel.</p>
          </div>
        </div>
  
        <div class="col-md-6">
          <div class="position-relative">
            <img class="img-fluid rounded-lg" src="../../assets/user_slider_1.jpg" alt="Image Description">
            <div class="position-absolute top-0 right-0 w-100 h-100 bg-soft-primary rounded-lg z-index-n1 mt-5 mr-n5"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Hero Section -->
  <br>
  
  <div class="container col-md-12" style="Column-count:1; padding: 5%;" id="Usercontent-1">
    <div class="row justify-content-lg-between align-items-lg-center">
      <div class="col-lg-4 mb-5 mb-lg-3">
        <div class="mb-5">
          <h2 class="h1" style="">We are a team of Genies who operate on your wish</h2>
        </div>
  
        <p>We Understand the hardships of our customers in order to achevie their dreams by working relentlessy. We help them in full-filling their dreams by providng Loans which are not a immediate solution to acheive their golas but to recognise their hardwork.</p>
  
        <p>At present we are provind Vehicle Loans, and <strong>We will expand into other sectors soon</strong></p>
      </div>
      <div class="col-lg-6 mb-5 mb-lg-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-bs-toggle="tab" href="#home">Car Loan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#profile">Why Do I Need a Car Loan?</a>
            </li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade show active" id="home">
              <p>We offer you the best deals for financing the car of your dreams. Gear up for convenient rates, great savings and attractive features, and get up to 100% finance options on select models. We understand your need of owning a car in today’s fast-paced life, and therefore, provide car loans for new as well as used cars, tailored to meet your requirements. At YES BANK, we aim to help our customers with our attractive Car Loan options.</p>
            </div>
            <div class="tab-pane fade" id="profile">
              <ol class="list-group list-group-numbered">
                <li class="list-group-item"> A car loan allows you to buy a more comfortable, fuel-efficient and powerful car that might be slightly above your expected budget.</li>
                <li class="list-group-item">Procuring a car loan can ensure long-term benefits pertaining to building up a good credit history.</li>
                <li class="list-group-item">You can avail a car loan to buy not only new but used cars as well.</li>
                <li class="list-group-item">Attractive interest rates per market standards.</li>
                <li class="list-group-item">Longer repayment tenure to minimise the monthly instalment to be paid.</li>
              </ol>
            </div>
          </div>
      </div>
      
    </div>
  </div>
  <br>
  <div class="container-fluid col-md-11" id="Highlights">
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
        <h2 class="text-black">Customer Feedback</h2>
        <strong >We Accomplish our promises given to customers.</strong>
      </div>
  <div class="d-flex justify-content-between">
        <!-- start review -1 -->
        <div class="flip-card col-md-4">  
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h2 class="display-5    " style="padding: 5%;">Dhanjeeth Kumar Thakur</h2>
                    <p style="padding: 3%;">Blown Away !!</p>
                    <div class="text-warning">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    </div>
                    <span>April 3, 2019</span>
                </div>
                <div class="flip-card-back">
                    <h2 style="padding: 8%;">" Fast And Secure "</h2> 
                    <p style="padding: 8%;"> I applied car loan through Vehicle Management Application. It took me around 4 Days. I like the approach which was Fast and Environmental Friendly.</p> 
                </div>
            </div>
    </div>
    <!-- end review -1 -->
   <!-- start review -2 -->
   <div class="flip-card col-md-4">  
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <h2 class="display-5 mb-3" style="padding: 5%;">Neelesh Katukojwala</h2>
            <p style="padding: 3%;">Flexible Interest on Loans</p>
            <div class="text-warning">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </div>
            <span>May 9, 2021</span>
        </div>
        <div class="flip-card-back">
            <h2 style="padding: 8%;">"Transparency"</h2> 
            <p style="padding: 8%;">The Best part about this website is their service is too fast, All you need to do is Select the vehcile model and a Online assistent will be help you throught out the process</p> 
        </div>
    </div>
</div>
<!-- end review -2 -->
<!-- start review -2 -->
<div class="flip-card col-md-4">  
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <h2 class="display-5 mb-3" style="padding: 5%;">Marques Brownie (MKBHD)</h2>
            <p style="padding: 3%;">Environmental Friendly</p>
            <div class="text-warning">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </div>
            <span>May 9, 2021</span>
        </div>
        <div class="flip-card-back">
            <h2 style="padding: 8%;">"Time Saving"</h2> 
            <p style="padding: 8%;">I like the way they operate the things effiently in this digital world. They just took the banking to the whole new Level</p> 
        </div>
    </div>
</div>
<!-- end review -3 -->
</div>
</div>
<br>
  
  <!-- Features Section -->
<div class="container">
    <div class="w-lg-85 mx-lg-auto">
      <!-- Card -->
      <div class="card p-5">
        <div class="row align-items-md-center">
          <div class="col-md-9 mb-5 mb-md-0">
            <h3>Dedicated platform for Vechile Loans</h3>
            <p>We provide Loans From basic to Luxury Car's .</p>
  
            <!-- List -->
            <div class="row">
              <div class="col-sm-6">
                <div class="media font-size-1 text-body mb-2">
                  <i class="fas fa-check-circle text-success mt-1 mr-2"></i>
                  <div class="media-body">
                    Can access from anydevice<span class="badge badge-soft-secondary badge-pill ml-1">New</span>
                  </div>
                </div>
                <div class="media font-size-1 text-body mb-2">
                  <i class="fas fa-check-circle text-success mt-1 mr-2"></i>
                  <div class="media-body">
                    Instant and paperless approvals at lower rates.
                  </div>
                </div>
              </div>
  
              <div class="col-sm-6">
                <div class="media font-size-1 text-body mb-2">
                  <i class="fas fa-check-circle text-success mt-1 mr-2"></i>
                  <div class="media-body">
                    Duration of Loan: Upto 60 Months
                  </div>
                </div>
                <div class="media font-size-1 text-body mb-2">
                  <i class="fas fa-check-circle text-success mt-1 mr-2"></i>
                  <div class="media-body">
                    Processing Fee Wavier <span class="badge badge-soft-secondary badge-pill ml-1">Limited period offer</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- End List -->
          </div>
  
          <div class="col-md-3 column-divider-md">
            <div class="pl-md-2">
              <h4>Included</h4>
              <p>An Additional service of 1 year is provided.</p>
              <a class="font-size-1 font-weight-bold" href="#">Apply Loan <i class="fas fa-angle-right fa-sm ml-1"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Card -->
    </div>
  </div>
  <!-- End Features Section -->
<br>
  <!-- Collapse Section -->
  <div class="container space-2  col-md-11 p-3 " id="FaqsUser">
    <h2>FAQ's</h2>
  
    <!-- Basics Accordion -->
    <div id="basicsAccordion">
      <!-- Card -->
      <div class="card shadow-none mb-3">
        <div class="card-header card-collapse" id="basicsHeadingOne">
          <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0" href="javascript:;" role="button" data-toggle="collapse" data-target="#basicsCollapseOne" aria-expanded="false" aria-controls="basicsCollapseOne">
            What is the typical tenure of a car loan?
  
            <span class="card-btn-toggle">
              <span class="card-btn-toggle-default">+</span>
              <span class="card-btn-toggle-active">−</span>
            </span>
          </a>
        </div>
        <div id="basicsCollapseOne" class="collapse" aria-labelledby="basicsHeadingOne" data-parent="#basicsAccordion">
          <div class="card-body px-4">
            <p>The tenure of a car loan ranges from 1 year to 5 years. The shorter the loan tenure, the higher is the EMI payable and the reverse is true for longer car loan tenures. Currently, a small number of lenders are engaged in providing car loans for longer durations of up to 7 years.</p>
          </div>
        </div>
      </div>
      <!-- End Card -->
  
      
      <!-- Card -->
      <div class="card shadow-none mb-3">
        <div class="card-header card-collapse" id="basicsHeadingTwo">
          <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0" href="javascript:;" role="button" data-toggle="collapse" data-target="#basicsCollapseTwo" aria-expanded="false" aria-controls="basicsCollapseTwo">
            What if I don’t pay EMIs on time?
  
            <span class="card-btn-toggle">
              <span class="card-btn-toggle-default">+</span>
              <span class="card-btn-toggle-active">−</span>
            </span>
          </a>
        </div>
        <div id="basicsCollapseTwo" class="collapse" aria-labelledby="basicsHeadingTwo" data-parent="#basicsAccordion">
          <div class="card-body px-4">
            <p>You can change your plan if it is still in pending status and there is no nedd to pay any proccess fee.Generally, banks treat you as a defaulter if you fail to pay two or more EMIs in a timely manner. You will initially be charged a penalty fee and asked to regularise your payments.</p>
            <p>If you fail to regularise your payments after repeated notifications, the financial institution can legally repossess your vehicle. Subsequently, your credit score will also take a hit and in the future, you will face complications in future loan approvals.</p>
          </div>
        </div>
      </div>
      <!-- End Card -->
  
      <!-- Card -->
      <div class="card shadow-none mb-3">
        <div class="card-header card-collapse" id="basicsHeadingThree">
          <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0" href="javascript:;" role="button" data-toggle="collapse" data-target="#basicsCollapseThree" aria-expanded="false" aria-controls="basicsCollapseThree">
            How easy is it to get approved for a loan application?
  
            <span class="card-btn-toggle">
              <span class="card-btn-toggle-default">+</span>
              <span class="card-btn-toggle-active">−</span>
            </span>
          </a>
        </div>
        <div id="basicsCollapseThree" class="collapse" aria-labelledby="basicsHeadingThree" data-parent="#basicsAccordion">
          <div class="card-body px-4">
            <p>Salaried employees with a monthly salary of ₹ 30,000 and above and a credit score of 700+ have a good chance of getting a loan through any bank including all popular loan apps. </p>
            <p>Banks may also look at other factors such as past work experience, existing relationship with the bank and mode of receiving the salary.</p>
          </div>
        </div>
      </div>
      <!-- End Card -->
  
      <!-- Card -->
      <div class="card shadow-none mb-3" >
        <div class="card-header card-collapse" id="basicsHeadingFour">
          <a class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed bg-white px-0" href="javascript:;" role="button" data-toggle="collapse" data-target="#basicsCollapseFour" aria-expanded="false" aria-controls="basicsCollapseFour">
            Can I get a loan to purchase a used car?
  
            <span class="card-btn-toggle">
              <span class="card-btn-toggle-default">+</span>
              <span class="card-btn-toggle-active">−</span>
            </span>
          </a>
        </div>
        <div id="basicsCollapseFour" class="collapse" aria-labelledby="basicsHeadingFour" data-parent="#basicsAccordion">
          <div class="card-body px-4">
            <p>Yes, car loan is offered for pre-used cars. But, the interest rate for such a loan would differ from that of a new car. However, the loan would only cover the price of the car itself, other costs as transfer of registration, etc. will have to borne by you.</p>
          </div>
        </div>
      </div>
      <!-- End Card -->
    </div>
    <!-- End Basics Accordion -->
  </div>
  <!-- End Collapse Section -->
  
