<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="contact-info">
                    <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/>
                    <h2>Vehicle Loan Management</h2>
                    <h4>Loans made easy</h4>
                </div>
            </div>
                <div class="col-md-9">
                    <div class="contact-form">
                        <form [formGroup] = "ApprovedLoanForm" (ngSubmit)="onSubmit()">
                            
                            <div class="form-group">
                                <label class="control-label col-sm-2">Interest:</label>
                                <div class="col-sm-10">          
                                    <input formControlName="loan_interest" type="text" class="form-control" >
                                </div>
        
                                <div *ngIf="ApprovedLoanForm.controls['loan_interest'].hasError('required')">
                                    <span [ngStyle]="{'margin-left': '40px','color':'red','backgroundColor':'Yellow'}">
                                        Please  enter the Loan Interest
                                    </span>
                                </div>
                            </div>

                            <br>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Date:</label>
                                <div class="col-sm-10">          
                                    <input formControlName="emi_amount" type="date" class="form-control" >
                                </div>
        
                            </div>

                            <br>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Status:</label>
                                <div class="col-sm-10">          
                                    <input formControlName="application_status" type="text" class="form-control" >
                                </div>
        
                                <div *ngIf="ApprovedLoanForm.controls['application_status'].hasError('required')">
                                    <span [ngStyle]="{'margin-left': '40px','color':'red','backgroundColor':'Yellow'}">
                                        Please  enter the status id
                                    </span>
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <br>
                            <button class="btn btn-primary" type="submit">Register</button>
                            
                        </form>
                    </div>
                </div>
        </div>
    </div>
</body>