
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul>
                <li class="step active">
                  <div data-step-label="Just add a data-step-label!" ><b>Step 1: Shortlist a car</b></div>
                  <br>
                    <div class="step-new-content">
                        <div class="row">
                        <p>Do you already have a car in mind? Or are you still finalizing the brand and model? </p>
                        <p>Once you have identified the car, you are ready to start the Car Loan process.</p>
                        </div>
                    </div>  
                </li>
                <br>
                <li class="step">
                    <div data-step-label="Just add a data-step-label!" ><b>Step 2: Check eligibility</b></div>
                    <br>
                    <div class="step-new-content">
                        <div class="row">
                        <p>To get started, it is recommended to opt for a Car Loan of up to six times your yearly income. However, the eligibility criteria may differ based on city, income, occupation, etc.</p>
                        </div>
                    </div>  
                </li>
                <br>
                <li class="step">
                    <div data-step-label="Just add a data-step-label!" ><b>Step 3: Figure out loan amount, tenure and EMI</b></div>
                    <br>
                    <div class="step-new-content">
                        <div class="row">
                        <p>How much loan do you need? For how long? What can you afford to pay every month?</p>
                        <p>You only need to enter your required loan amount and tenure, along with the interest rate offered by the bank, in order to calculate your loan EMI.</p>
                        </div>
                    </div>  
                </li>
                <br>
                <li class="step">
                    <div data-step-label="Just add a data-step-label!" ><b>Step 4: Apply and provide documents</b></div>
                    <br>
                    <div class="step-new-content">
                        <div class="row">
                        <p>You can now apply for a loan online or visit the nearest branch to complete the formalities.</p>
                        <p>Keep documents such as income, ID and address proof ready.</p>
                        </div>
                    </div>  
                </li>
                <br>
                <li class="step">
                    <div data-step-label="Just add a data-step-label!" ><b>Step 5: Book your car</b></div>
                    <br>
                    <div class="step-new-content">
                        <div class="row">
                        <p>Once the loan is sanctioned, you can visit the dealer and pay the recommended finance value of the car’s price. The bank will deposit the loan funds directly into your account. You can complete your payment and booking. Once this is done, you can take possession of the car as soon as it is ready.</p>
                        <p>Booking a car now is now going to be an easy task. Now all you need to do is apply for Car Loan. Get started and apply now!</p>
                        </div>
                    </div>  
                </li>
            </ul>
              
        </div>
    </div>        
</div>