
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 style="text-align: center"><b>Your Loan Application Details</b></h3>
            <ul>
                <li>
                    <p class="lead">
                        <b>Email:</b> {{userdetails.user_email}}
                    </p>
                </li>
                <li>
                    <p class="lead">
                        <b>Loan Tenure:</b> {{applyloan.loan_tenure}}
                    </p>
                </li>
                <li>
                    <p class="lead">
                        <b>Loan Amount:</b> {{applyloan.loan_amount}}
                    </p>
                </li>
                <li>
                    <p class="lead">
                        <b>Vehicle Brand:</b> {{applyloan.vehicle_brand}}
                    </p>
                </li>
                <li>
                    <p class="lead">
                        <b>Vehicle Model:</b> {{applyloan.vehicle_model}}
                    </p>
                </li>
                <li>
                    <p class="lead">
                        <b>Vehicle Type:</b> {{applyloan.vehicle_type}}
                    </p>
                </li>
                <li>
                    <p class="lead">
                        <b>Vehicle Colour:</b> {{applyloan.vehicle_colour}}
                    </p>
                </li>
                <li>
                    <p class="lead">
                        <b>Ex-Showroom Price:</b> {{applyloan.vehicle_exshowroom_price}}
                    </p>
                </li>
                <li>
                    <p class="lead">
                        <b>On-Road Price:</b> {{applyloan.vehicel_on_road_price}}
                    </p>
                </li>
            </ul>
               

           
                
        </div>
    </div>
</div>
