
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul>
                <li>
                    <p class="lead">
                        Email: {{userdetails.user_email}}
                    </p>
                </li>
                <li>
                    <p class="lead">
                        Loan Tenure: {{applyloan.loan_tenure}}
                    </p>
                </li>
                <li>
                    <p class="lead">
                        Loan Amount: {{applyloan.loan_amount}}
                    </p>
                </li>
                <li>
                    <p class="lead">
                        Vehicle Brand: {{applyloan.vehicle_brand}}
                    </p>
                </li>
                <li>
                    <p class="lead">
                        Vehicle Model: {{applyloan.vehicle_model}}
                    </p>
                </li>
                <li>
                    <p class="lead">
                        Vehicle Type: {{applyloan.vehicle_type}}
                    </p>
                </li>
                <li>
                    <p class="lead">
                        Vehicle Colour: {{applyloan.vehicle_colour}}
                    </p>
                </li>
                <li>
                    <p class="lead">
                        Ex-Showroom Price: {{applyloan.vehicle_exshowroom_price}}
                    </p>
                </li>
                <li>
                    <p class="lead">
                        On-Road Price: {{applyloan.vehicel_on_road_price}}
                    </p>
                </li>
            </ul>
               

           
                
        </div>
    </div>
</div>
