<div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="contact-info">
                    <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/>
                    <h2>Vehicle Loan Management</h2>
                    <h4>User Email changing is <strong>"Restricted"</strong></h4>
                </div>
            </div>
            <div class="col-md-9">
                <div class="contact-form">
                    {{email}}
                    <button type="button"(click)="onEdit()" *ngIf=editbutton class="btn btn-info">Edit</button><br><br>
                    <form [formGroup] = "user" (ngSubmit)="onSubmit()" *ngIf=formVisible >
                        <div class="form-group shadow p-3 mb-5 bg-white rounded">
                           <label>User E-mail</label>
                           <input formControlName="email" type="email" class="form-control" [(ngModel)]="userdetails.user_email"> 
                        </div>
                       <!-- Card -->
                        <div class="card">
                            <div class="card-header shadow  bg-white rounded">
                            <h5 class="card-title ">Password</h5>
                            </div>
                        
                            <!-- Body -->
                            <div class="card-body">
                            <!-- Form -->
                            <form>
                                <!-- Form Group -->
                                <div class="row form-group">
                                <label for="currentPasswordLabel" class="col-sm-3 col-form-label input-label ">Current password</label>
                        
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" name="currentPassword" id="currentPasswordLabel" placeholder="Enter current password" aria-label="Enter current password">
                                </div>
                                </div>
                                <!-- End Form Group -->
                        
                                <!-- Form Group -->
                                <div class="row form-group">
                                <label for="newPassword" class="col-sm-3 col-form-label input-label">New password</label>
                        
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" name="newPassword" id="newPassword" placeholder="Enter new password" aria-label="Enter new password">
                                </div>
                                </div>
                                <!-- End Form Group -->
                        
                                <!-- Form Group -->
                                <div class="row form-group">
                                <label for="confirmNewPasswordLabel" class="col-sm-3 col-form-label input-label">Confirm new password</label>
                        
                                <div class="col-sm-9">
                                    <div class="mb-3">
                                    <input type="password" class="form-control" name="confirmNewPassword" id="confirmNewPasswordLabel" placeholder="Confirm your new password" aria-label="Confirm your new password">
                                    </div>
                        
                                    <h5>Password requirements:</h5>
                        
                                    <p class="card-text font-size-1">Ensure that these requirements are met:</p>
                        
                                    <ul class="font-size-1">
                                    <li>Minimum 8 characters long - the more, the better</li>
                                    <li>At least one lowercase character</li>
                                    <li>At least one uppercase character</li>
                                    <li>At least one number, symbol, or whitespace character</li>
                                    </ul>
                                </div>
                                </div>
                                <!-- End Form Group -->
                        
                                <div class="d-flex justify-content-end">
                                <button type="button" class="btn btn-white mr-2" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Update Password</button>
                                </div>
                            </form>
                            <!-- End Form -->
                            </div>
                            <!-- End Body -->
                        </div>
                        <!-- End Card -->
                        <div class="form-group">
                            <label>User Full Name</label>
                            <input formControlName="full_Name" type="text" class="form-control" [(ngModel)]="userdetails.user_full_Name"> 
                        </div>
                        <div class="form-group">
                            <label>User Gender</label>
                            <input formControlName="gender" type="text" class="form-control" [(ngModel)]="userdetails.user_gender"> 
                        </div>
                        <div class="form-group">
                            <label>User Age</label>
                            <input formControlName="age" type="number" class="form-control" [(ngModel)]="userdetails.user_age"> 
                        </div>
                        <div class="form-group">
                            <label>User Phone No.</label>
                            <input formControlName="phoneno" type="number" class="form-control" [(ngModel)]="userdetails.user_phone_Number"> 
                         </div>
                         <div *ngIf="user.controls['email'].hasError('required')">
                             <span [ngStyle]="{'margin-left': '40px','color':'red'}">
                             Phone Number cannot be Empty
                             </span>
                        </div>
                        <div class="form-group">
                            <label>User Address</label>
                            <input formControlName="addr" type="text" class="form-control" [(ngModel)]="userdetails.user_address"> 
                        </div>
                        <div class="form-group">
                            <label>User State</label>
                            <input formControlName="state" type="text" class="form-control" [(ngModel)]="userdetails.user_state"> 
                        </div>
                        <div class="form-group">
                            <label>User city</label>
                            <input formControlName="city" type="text" class="form-control" [(ngModel)]="userdetails.user_city"> 
                        </div>
                        <div class="form-group">
                            <label>User Pin</label>
                            <input formControlName="pin" type="text" class="form-control" [(ngModel)]="userdetails.user_pincode"> 
                        </div>
                        <div class="form-group">
                            <label>User Employement Type</label>
                            <input formControlName="emp_type" type="text" class="form-control" [(ngModel)]="userdetails.user_employement_type"> 
                        </div>
                        <div class="form-group">
                            <label>User Salary</label>
                            <input formControlName="salary" type="number" class="form-control" [(ngModel)]="userdetails.user_salary"> 
                        </div>
                        <div class="form-group">
                            <label>User Aadhar</label>
                            <input formControlName="aadhar" type="text" class="form-control"  [(ngModel)]="userdetails.user_adhar_no"> 
                        </div>
                        <div class="form-group">
                            <label>User Pan Number</label>
                            <input formControlName="pan" type="text" class="form-control" [(ngModel)]="userdetails.user_pan_no" > 
                        </div><br>
                        <button type="button" (click)="onSubmit()" class="btn btn-success">Update</button>
                    </form>
                    <div class="alert alert-success" *ngIf=popupVisible>
                        <strong>Success!</strong> The User details have been successfully updated.
                    </div>
                </div>
            </div>
        </div>
    </div>
